build/
*.o
*.a
*.exe
.DS_Store
*.zip
node_modules/
AlgoEvolution/
CODAH/
FINAL/
JK/
Moreprac/
P1-Catch-Template-main/
Portfolio_Mock/
Practice/
Project1_C++Refresh/
Project1_Testing-main/
Projects/
Sivan_AVL_Project/
StudySync/
algo-evolution/
hello
hello.cpp
*.cpp
!src/**/*.cpp
!DSA_Project_2_algo_evolution-main/src/**/*.cpp
